@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400&display=swap');




* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: #222;
}

.card {
    width: 80%;
    max-width: 500px;
    height: auto;
    background: linear-gradient(50deg, #00feba, #5b548a);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 3% 4%;
    text-align: center;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background:#ebfffc;
    color: #000000ed;
    padding:10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 20px;
}


.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.search button img {
    width: 15px;   
}

.weather {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.weather-icon {
    width: 160px;
    margin-top: 20px;
}

.weather h1 {
    
    font-size: 55px;
    font-weight: 500;
}

.weather h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;
    font-weight: 900;
    margin-top: 1px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 35px;
    margin-right: 10px;
}

.humidity ,.wind {
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
    margin-top: -4px;
}

.weather {
    display: none;
}

.error {
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}